# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Service-Competition-BackEnd-dotnet.iml
# Datasource local storage ignored files
/../../../../../../:\.netProject\Service-Competition-BackEnd-dotnet\.idea\.idea.Service-Competition-BackEnd-dotnet.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
